
body {
    background-color: #010103;
    color: #d3ad7f;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header .container a {
    color: #fff;
}

p {
    text-align: justify;
}

#sobre p {
    color: #fff;
}

#sobre img {
    border-radius: 10%;
}

#Produtos h2 {
    padding-left: 2.5rem;
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

input, textarea {
    margin-bottom: 1rem;
}

.card {
    /*width: 32%;*/
    float: left;
    margin: 30px;
    background-color: #13131a;
    border: solid 1px whitesmoke;
    border-radius: 10px;
}

.card img {
    margin: 5px;
    padding: 5rem;
    border-radius: 100%;
}

div .card-body {
    background-color: transparent;
    text-align: center;
}

a.btn.btn-primary {
    background-color: #fff;
    border-color: #fff;
    color: #010103;
}

a.btn-lg.btn-success, button.btn-lg.btn-success {
    background-color: #d3ad7f;
    color: #13131a;
    float: right;
}

a.btn.btn-primary:hover {
    background-color: rgb(185, 185, 185);
}

a.btn-lg.btn-success:hover, button.btn-lg.btn-success:hover {
    background-color: #7e623f;
}
